* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'PT Sans', sans-serif;
  font-size: 15px;
  color: black;
}

li,
a {
  list-style-type: none;
  text-decoration: none;
}

.line {
  border-bottom: 1px solid #bfbfbf;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 5px;
}

/* HEADER */

.header__top {
  display: flex;
  height: 35px;
  align-items: center;
}

.menu__list {
  display: flex;
}
.menu__list li + li {
  margin-left: 23px;
}

.menu__list li a {
  color: #2a2a2a;
  font-size: 14px;
}

.header__center {
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
}

input#search {
  width: 400px;
  height: 50px;
  border: 1px solid #616167;
  border-radius: 10px;
  font-size: 16px;
  float: left;
  color: #616167;
  padding-left: 45px;
}

.search__icon {
  position: absolute;
  margin-left: 15px;
  margin-top: 15px;
  z-index: 1;
  color: #4f5b66;
}
.icon2 {
  padding-left: 320px;
}
.tel {
  text-align: center;
}
.tel-1 {
  font-size: 18px;
  font-weight: 700;
  color: #2a2a2a;
}

.tel-2 {
  font-size: 14px;
  color: #434343;
}

.containe {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.containe img {
  width: 35px;
  margin-left: 10px;
}
.containe span {
  padding-left: 10px;
  font-size: 16px;
  font-weight: 700;
  color: #2a2a2a;
}
.containe__reting {
  width: 100px;
}
.containe__reting span {
  opacity: 0.5;
}
.containe__like {
  width: 100px;
}

.containe__basket {
  width: 100px;
}
.header__bootom {
  display: flex;
  height: 53px;
}
.header__bootom-menu {
  display: flex;
}
.header__bootom-menu__list {
  display: flex;
  font-weight: 700;
}

.header__bootom-menu__list li {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #bfbfbf;
  padding: 20px 16px;
}

.header__bootom-menu__list li a {
  display: flex;
  justify-content: center;
  color: #2a2a2a;
}

.header__bootom-menu__list li.stock {
  background-color: #db055b;
}

.header__bootom-menu__list li.stock a {
  color: #fff;
}

.breadcrumbs {
  display: flex;
  height: 45px;
  align-items: center;
  font-family: 'PT Sans Narrow', sans-serif;
}

.content__title h1 {
  font-size: 28px;
  font-family: 'Proxima Nova', sans-serif;
  src: url(./fonts/Proxima-Nova-Cond-Bold.ttf);
  margin-top: 85px;
}

.content__pagination {
  display: flex;
  justify-content: space-between;
  max-width: 300px;
  margin: 30px 10px;
}

.content__pagination a {
  display: flex;
  justify-content: center;
  border: 1px solid #bfbfbf;
  width: 40px;
  height: 40px;
  align-items: center;
  border-radius: 5px;
  font-size: 17px;
  font-weight: 700;
  color: #616167;
}

.content__pagination a.active {
  background-color: #db055b;
  border: none;
  color: #fff;
}

.content__pagination a.tire {
  border: none;
}

.content__content {
  display: flex;
  justify-content: space-between ;
}

.content__content-items {
  display: flex;
  width: 600px;
  margin: 20px 0 20px 0;
  justify-content: space-around;
}

.content__content-text{
  margin-left: 20px;
  width: 288px;
}

.content__content-text .title{
  margin-bottom: 10px;
}

.content__content-text .title h2{
  font-size: 18px;
  font-weight: 700;
  
}

.content__content-text .text p{
  opacity: 0.5;
}
